{% extends 'layouts.html' %}

{% block body %}
<title>{{ title }}</title>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Beta Downloads</h2>
							<p>Install Apple Developer Betas for free.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>iOS</h3>
								<p>iOS 11 Developer Beta OTA Profile: <a href="http://festyy.com/qBjGBe" target="_blank">Download</a> </p>
							</div>
						</section>
					</article>

						<section class="wrapper style5">
							<div class="inner">

								<h3>macOS</h3>
								<p>macOS High Sierra Developer Beta OTA Profile: <a href="http://festyy.com/qBjC0R" target="_blank">Download</a> </p>

							</div>
						</section>
					</article>

						<section class="wrapper style5">
							<div class="inner">

								<h3>watchOS</h3>
								<p>watchOS 4 Developer Beta OTA Profile: <a href="http://festyy.com/qBjVbv" target="_blank">Download</a> </p>

							</div>
						</section>
					</article>

						<section class="wrapper style5">
							<div class="inner">

								<h3>tvOS</h3>
								<p>tvOS 11 Developer Beta OTA Profile: <a href="http://festyy.com/qBjCme" target="_blank">Download</a> </p>

							</div>
						</section>
					</article>
{% endblock %}
