{% extends 'layouts.html' %}

{% block body %}
<title>{{ title }}</title>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Credits</h2>
							<p>A special thanks to these developers.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
							<center><b><a href="https://zanedevs.sarahah.com/" target="_blank">Click here to tell us if we forgot a developer.</a></b></center> </br>

							<section class="wrapper style5">
							<div class="inner">
							</section>

								<section>
									<h4>iOS Haven Staff</h4>
									<ul class="icons">
						Lead Developer | <a href="https://twitter.com/ZaneDevs" target="_blank">Zane</a> </br>
						Senior Developer | <a href="https://twitter.com/_ZackBz" target="_blank">Zack</a> </br>
						Content Manager | <a href="https://twitter.com/Shazamata" target="_blank">Shazamata</a> </br>
						Public Relations | <a href="https://twitter.com/raufydev" target="_blank">RaufyDev</a> </br>
						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">

								<section>
									<h4>Tweak and App Developers</h4>
									<ul class="icons">
						++ tweaks | <a href="https://twitter.com/unlimapps" target="_blank">UnlimApps</a> </br>
						Instagram Rocket / Cercube | <a href="https://twitter.com/freemanrepo" target="_blank">Majd Alfhaily</a> </br>
						Phantom for Snapchat | <a href="https://twitter.com/CokePokes" target="_blank">CokePokes</a> </br>
						Snapchat SCOthman | Othman Alomiry </br>
						PokeGo++ | <a href="https://www.pokego2.com/" target="_blank">PokeGo++</a> </br>
						Bobby Movie / Bobby Music | <a href="https://twitter.com/bobbymovie" target="_blank">BobbyMovie</a> </br>
						CinemaBox PB | <a href="https://twitter.com/playbox_hd" target="_blank">Playbox</a> </br>
						Popcorn Time | <a href="https://popcorn-time.to/" target="_blank">Popcorn Time</a> </br>
						AeroTV | <a href="https://twitter.com/raufydev" target="_blank">RaufyDev</a> </br>
						EveryCord | <a href="https://twitter.com/everycord" target="_blank">EveryCord</a> </br>
						f.lux | <a href="https://justgetflux.com/" target="_blank">f.lux</a> </br>
						iCleaner | <a href="https://ib-soft.net/" target="_blank">Ivano Bilenchi</a> </br>
						iDarkMode | <a href="https://twitter.com/idarkmode" target="_blank">iDarkMode</a> </br>
						LiveRevoke | <a href="https://twitter.com/LiveRevoke" target="_blank">LiveRevoke</a> </br>
						NFL GamePass Europe | Ghay / deltatre </br>
						Tweaked IPA Provider | <a href="https://twitter.com/kakaswr22" target="_blank">Hassan Abdullah</a> </br>
						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">

								<section>
									<h4>Signed IPA Developers</h4>
									<ul class="icons">
						Pokemon Go Hack / GBA4iOS / Pangu JB | <a href="https://twitter.com/Emus4you" target="_blank">Emus4u</a> </br>
						Bobby Movie | <a href="https://twitter.com/bobbymovie" target="_blank">Bobby Movie</a> </br>
						Everything else | <a href="https://twitter.com/appvalley_vip" target="_blank">AppValley</a> </br>
						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">

								<section>
									<h4>Jailbreak Developers</h4>
									<ul class="icons">
						yalu102 | <a href="https://twitter.com/qwertyoruiopz" target="_blank">qwertyoruiopz</a> </br>
						extra_recipe | Ian Beer </br>

						</ul>
							</div>
						</section>

{% endblock %}
