{% extends 'layouts.html' %}
{% block body %}
<title>{{ title }} </title>
<!-- Page Wrapper -->
	<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>IPA Library</h2>
							<p>Download apps and tweaks.</p>
						</header>
						<div class="inner">
								<div class="app-section" id="tweaks">

							<center><b><a href="https://zanedevs.sarahah.com/" target="_blank">Click here to request an ipa or report one as not working.</a></b></center> </br>

{% endblock %}
