{% extends 'layouts.html' %}
{% block body %}
<title>{{ title }} </title>
<!-- Page Wrapper -->
	<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Cydia Impactor</h2>
							<p>SIDELOAD APPS WITH EASE.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="tweaks">

							<center><p>Cydia Impactor allows you to sideload apps very fast and it is very easy to use. To get started, download the correct one for your operating system below:</center> </br>
								<ul>
								<section>
									<h4>Cydia Impactor</h4>
									<ul class="icons">
										<li><a class=" icon fa-apple"></a></li>Mac OSX | <a href="https://cydia.saurik.com/api/latest/1">Download Here.</a> </br>
										<li><a class="icon fa-windows"></a></li>Windows | <a href="https://cydia.saurik.com/api/latest/2">Download Here.</a> </br>
										<li><a class="icon fa-linux"></a></li>Linux (32-bit)| <a href="https://cydia.saurik.com/api/latest/4">Download Here.</a> </br>
										<li><a class="icon fa-linux"></a></li>Linux (64-bit) | <a href="https://cydia.saurik.com/api/latest/5">Download Here.</a> </br>





							</div>
						</section>

{% endblock %}
