{% extends 'layouts.html' %}

{% block body %}
<title>{{ title }}</title>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Request/Report an App</h2>
							<p>Request or report an app.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<h3>Fill out this forum to request or report an app.</h3>
								<center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeTa6FbXlT4SEWZrB9uw6MFEvHnF-sc2CTt-BXvHBIqUJNFNQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></center>
							</div>
						</section>
					</article>

{% endblock %}
