{% extends 'layouts.html' %} {% block body %}
<title>{{ title }}</title>

<div id="page-wrapper">

  <section id="banner">
    <div class="inner">
      <h2>iOS Haven</h2>
      <p>Download IPAs, Signed Apps, Apple Developer Betas, and Jailbreaks.</p>
      <ul class="actions">
        <li><a href="#menu" class="button special">Let&#39;s go!</a></li>
        <br />
        <a href="https://cyrusinstaller.com"><img class="cyrus" src="https://cyrusinstaller.com/png/verified-white.png" alt="Cyrus Certified" height="90"></a>
      </ul>
    </div>
  </section>
</div>

{% endblock %}
