{% extends 'layouts.html' %}
{% block body %}
<title>{{ title }} </title>
<!-- Page Wrapper -->
	<div id="page-wrapper">
		
				<!-- Main -->
					<article id="main">
						<header>
							<h2>IPA Library</h2>
							<p>Download apps and tweaks.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="tweaks">

							<center><b><a href="https://zanedevs.sarahah.com/" target="_blank">Click here to request an ipa or report one as not working.</a></b></center> </br>
								<section>
									<h4>Tweaks</h4>
									<ul class="icons">
							<li><a class="icon fa-instagram"></a></li>Instagram++ | <a href="http://corneey.com/q1Rm7D" target="_blank">Download v10.33</a> </br>
							<li><a class="icon fa-instagram"></a></li>Instagram Rocket | <a href="http://corneey.com/q1Y652" target="_blank">Download v10.31</a> </br>
							<li><a class="icon fa-snapchat-ghost"></a></li>Snapchat++ | <a href="http://corneey.com/q1REmJ" target="_blank">Download v10.14.1</a> </br>
							<li><a class="icon fa-snapchat-ghost"></a></li>Phantom for Snapchat | <a href="http://ceesty.com/q1fXlJ" target="_blank">Download v10.14.1</a> </br>
							<li><a class="icon fa-snapchat-ghost"></a></li>Snapchat SCOthman | <a href="http://corneey.com/q1REiD" target="_blank">Download v10.14.1</a> </br>
                                             		<li><a class="icon fa-heart"></a></li>Tinder++ | <a href="
http://corneey.com/q1G1DM" target="_blank">Download v7.5.3</a> </br>
							<li><a class="icon fa-twitter"></a></li>Twitter++ | <a href="http://destyy.com/q12EMC" target="_blank">Download v7.4.1</a> </br>
							<li><a class="icon fa-youtube-play"></a></li>YouTube++ | <a href="http://corneey.com/q1RR71" target="_blank">Download v12.3</a> </br>
							<li><a class="icon fa-youtube-play"></a></li>Cercube 4 | <a href="http://destyy.com/q12RgC" target="_blank">Download v12.29</a> </br>
							<li><a class="icon fa-youtube-play"></a></li>YouTube Music++ | <a href="http://corneey.com/q1RRNV" target="_blank">Download v1.88.3</a> </br>
							<li><a class="icon fa-facebook"></a></li>Facebook++ | <a href="http://corneey.com/q1RmT3" target="_blank">Download v132</a> </br>
							<li><a class="icon fa-whatsapp"></a></li>WhatsApp++ | <a href="http://destyy.com/q12T07" target="_blank">Download v2.17.42</a> </br>
							<li><a class="icon fa-twitch"></a></li>Twitch++ | <a href="http://corneey.com/q1RRiF" target="_blank">Download v5.1.1</a> </br>
							<li><a class="icon fa-spotify"></a></li>Spotify++ | <a href="http://destyy.com/q12TZj" target="_blank">Download v8.4.13</a> </br>
							<li><a class="icon fa-soundcloud"></a></li>SoundCloud++ | <a href="http://clkmein.com/qBVqkj" target="_blank">Download v5.11</a> </br>
							<li><a class="icon fa-music"></a></li>Deezer++ | <a href="http://corneey.com/q1Rmw1" target="_blank">Download v6.22.1</a> </br>
							<li><a class="icon fa-music"></a></li>Napster++ | <a href="http://clkmein.com/qBVss3" target="_blank">Download v5.1</a> </br>
							<li><a class="icon fa-music"></a></li>Pandora++ | <a href="http://corneey.com/q1RWwR" target="_blank">Download v8.7</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Crunchyroll++ | <a href="http://clkmein.com/qBV0A6" target="_blank">Download v3.0.8</a> </br>
							<li><a class="icon fa-lock"></a></li>Hotspot Shield++ | <a href="http://clkmein.com/qBVq81" target="_blank">Download v3.7.6</a> </br>
							<li><a class="icon fa-lock"></a></li>Betternet++ | <a href="http://destyy.com/qN5D6g" target="_blank">Download v3.3.21</a> </br>
							<li><a class="icon fa-mobile"></a></li>NBA++ | <a href="http://clkmein.com/qBVfyI" target="_blank">Download v7.053</a> </br>
							<li><a class="icon fa-mobile"></a></li>PokeGo++ | <a href="http://corneey.com/q1RWk1" target="_blank">Download v1.39.1</a> </br>
							<li><a class="icon fa-mobile"></a></li>8 Ball Pool++ | <a href="http://clkmein.com/qBVdDc" target="_blank">Download v3.8.5</a> </br>
							<li><a class="icon fa-mobile"></a></li>Super Mario Run Hack | <a href="http://clkmein.com/qBVhy4" target="_blank">Download v2.0</a> </br>
                                             		<li><a class="icon fa-mobile"></a></li>UFC++ | <a href="http://corneey.com/q1GMXp" target="_blank">Download v3.0</a> </br>
						</ul>
							</div>
						</section>
						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="entertainment">
								<section>
									<h4>Entertainment</h4>
									<ul class="icons">
							<li><a class="icon fa-play-circle"></a></li>123 Movies | <a href="http://clkmein.com/qBVbkp" target="_blank">Download v1.0</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Bobby Movie | <a href="http://clkmein.com/qBC9Fq" target="_blank">Download v3.1.4</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Bobby Music | <a href="http://clkmein.com/qBV0eq" target="_blank">Download v2.0.3</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Cartoon HD | <a href="http://clkmein.com/qBV0ci" target="_blank">Download v2.0</a> </br>
							<li><a class="icon fa-play-circle"></a></li>CinemaBox PB | <a href="http://clkmein.com/qBV0Er" target="_blank">Download v1.0</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Movie Box | <a href="http://corneey.com/q1RQRd" target="_blank">Download v3.7.2</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Channels | <a href="http://clkmein.com/qBVx0U" target="_blank">Download v1.3</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Live Wire | <a href="http://clkmein.com/qBVxSu" target="_blank">Download v1.5</a> </br>
							<li><a class="icon fa-play-circle"></a></li>FlickJoy | <a href="http://clkmein.com/qBVxMI" target="_blank">Download v1.0</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Popcorn Time | <a href="http://clkmein.com/qBVcwz" target="_blank">Download v3.1.2</a> </br>
							<li><a class="icon fa-play-circle"></a></li>Surge | <a href="http://clkmein.com/qBVvrA" target="_blank">Download v1.0.1</a> </br>
							<li><a class="icon fa-play-circle"></a></li>MovieHD | <a href="http://clkmein.com/qBVxbn" target="_blank">Download v1.0</a> </br>
							<li><a class="icon fa-play-circle"></a></li>ToonsNow | <a href="http://clkmein.com/qBVcCd" target="_blank">Download v1.1.2</a> </br>
							<li><a class="icon fa-tv"></a></li>Slick TV | <a href="http://clkmein.com/qBVcTY" target="_blank">Download v1.3</a> </br>
							<li><a class="icon fa-tv"></a></li>AeroTV | <a href="http://clkmein.com/qBVbp4" target="_blank">Download v1.0</a> </br>

							<li><a class="icon fa-music"></a></li>Music Pocket | <a href="http://clkmein.com/qBVvIY" target="_blank">Download v1.0</a> </br>
							<li><a class="icon fa-music"></a></li>AudioTube | <a href="http://clkmein.com/qBVziG" target="_blank">Download v1.7</a> </br>
							<li><a class="icon fa-soundcloud"></a></li>DownCloud | <a href="http://destyy.com/q12Ow7" target="_blank">Download v2.0</a> </br>
						</ul>
							</div>
								</div>
						</section>

					<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="recorders">

								<section>
									<h4>Screen Recorders</h4>
									<ul class="icons">
							<li><a class="icon fa-video-camera"></a></li>EveryCord | <a href="http://clkmein.com/qBVYW1" target="_blank">Download v1.1.5</a> </br>
						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="emulators">

								<section>
									<h4>Emulators</h4>
									<ul class="icons">
							<li><a class="icon fa-gamepad"></a></li>GBA4iOS | <a href="http://ceesty.com/qNqBou" target="_blank">Download v2.1</a> </br>
							<li><a class="icon fa-gamepad"></a></li>Happy Chick | <a href="http://ceesty.com/qNqBU2" target="_blank">Download v1.5.4</a> </br>
							<li><a class="icon fa-gamepad"></a></li>HandJoy | <a href="http://destyy.com/qNXsaA" target="_blank">Download v1.0</a> </br>
							<li><a class="icon fa-gamepad"></a></li>iNDS | <a href="http://ceesty.com/qNq6YV" target="_blank">Download v1.5.4</a> </br>
							<li><a class="icon fa-gamepad"></a></li>Mame4ios | <a href="http://ceesty.com/qNq6M2" target="_blank">Download v1.6</a> </br>
							<li><a class="icon fa-gamepad"></a></li>RetroArch | <a href="http://destyy.com/qNXsqQ" target="_blank">Download v1.6</a> </br>
						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="games">

								<section>
									<h4>Games</h4>
									<ul class="icons">
							<li><a class="icon fa-mobile"></a></li>Clash of Phoenix | <a href="http://ceesty.com/qNwyJH" target="_blank">Download v8.709.2</a> </br>
							<li><a class="icon fa-mobile"></a></li>iSSB | <a href="http://ceesty.com/qNwuGc" target="_blank">Download v2.21</a> </br>
							<li><a class="icon fa-mobile"></a></li>NFL GamePass | <a href="http://destyy.com/q12kmb" target="_blank">Download v3.9</a> </br>
						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="misc">

								<section>
									<h4>Miscellaneous</h4>
									<ul class="icons">
							<li><a class="icon fa-folder"></a></li>Fily | <a href="http://ceesty.com/qNwPe5" target="_blank">Download v1.1</a> </br>
							<li><a class="icon fa-folder"></a></li>iFile | <a href="http://ceesty.com/qNwPkQ" target="_blank">Download v2.2</a> </br>
							<li><a class="icon fa-moon-o"></a></li>GoodNight | <a href="http://ceesty.com/qNwAqA" target="_blank">Download v1.1.1</a> </br>
                                             		<li><a class="icon fa-moon-o"></a></li>f.lux | <a href="http://corneey.com/q1HOFo" target="_blank">Download v1.0.9</a> </br>
							<li><a class="icon fa-gear"></a></li>iCleaner | <a href="http://destyy.com/qNXsGY" target="_blank">Download v2.0.1</a> </br>
							<li><a class="icon fa-gear"></a></li>Kodi Jarvis | <a href="http://ceesty.com/qNwASi" target="_blank">Download v16.1</a> </br>
							<li><a class="icon fa-gear"></a></li>Kodi Krypton | <a href="http://ceesty.com/qNwA9w" target="_blank">Download v17.3</a> </br>
							<li><a class="icon fa-gear"></a></li>BatteryLife | <a href="http://ceesty.com/qNwOBs" target="_blank">Download v1.7</a> </br>
							<li><a class="icon fa-gear"></a></li>Kodi Legacy | <a href="http://destyy.com/qNXsWe" target="_blank">Download v15.2.1</a> </br>
							<li><a class="icon fa-gear"></a></li>Kodi Leia | <a href="http://ceesty.com/qNwSgn" target="_blank">Download v18</a> </br>
							<li><a class="icon fa-gear"></a></li>miniOS | <a href="http://ceesty.com/qNwSvE" target="_blank">Download v1.0</a> </br>
							<li><a class="icon fa-gear"></a></li>xCleaner | <a href="http://ceesty.com/qNwSLn" target="_blank">Download v1.0.2</a> </br>
							<li><a class="icon fa-gear"></a></li>iDarkMode | <a href="http://ceesty.com/qNwDar" target="_blank">Download v1.0</a> </br>
                                             		<li><a class="icon fa-gear"></a></li>Fortune | <a href="http://ceesty.com/qNwPJX" target="_blank">Download v1.4.4</a> </br>
						</ul>
							</div>
						</section>

{% endblock %}
