<!DOCTYPE HTML>
<!--
	iOS Haven by ZaneDevs
	ioshaven.co | @ZaneDevs
-->
<html>
	<head>
		<title>iOS Jailbreaks - iOS Haven</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104493532-1', 'auto');
  ga('send', 'pageview');
</script>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="home">iOS Haven</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="home">Home</a></li>
											<li><a href="ipas">IPA Library</a></li>
											<li><a href="signed">Signed IPAs</a></li>
											<li><a href="betas">Beta Downloads</a></li>
											<li><a href="jailbreaks">Jailbreak Downloads</a></li>
											<li><a href="upload">Upload an IPA</a></li>
											<li><a href="https://discord.gg/mTbwMyQ" target="_blank">Join our Discord</a></li>					
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Jailbreak Downloads</h2>
							<p>Download iOS Jailbreaks.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<h3>Yalu for iOS 10-10.2</h3>
								<p>yalu beta7: <a href="http://clkmein.com/qBXikl" target="_blank">Download</a> • <a href="https://pastebin.com/raw/4pem2b48" target="_blank">MD5/SHA1/SHA-256</a> </p>
								<p>extra_recipe+yaluX beta4: <a href="http://clkmein.com/qBXiVY" target="_blank">Download</a> • <a href="https://pastebin.com/raw/WJLd7EL3" target="_blank">MD5/SHA1/SHA-256</a> </p>
							</div>
						</section>
					</article>
										
						<section class="wrapper style5">
							<div class="inner">

								<h3>JailbreakMe for iOS 9.3.3</h3>
								<p>JbMe mirror: <a href="http://ceesty.com/qB9OmV" target="_blank">View</a> </p>

							</div>
						</section>
					</article>

					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/iOSHaven_co" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://reddit.com/u/ZaneDevs" target="_blank" class="icon fa-reddit-alien"><span class="label">Reddit</span></a></li>
							<li><a href="https://paypal.me/emoticons" target="_blank" class="icon fa-paypal"><span class="label">PayPal</span></a></li>
							<li><a href="mailto:hi@ioshaven.co" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a></li>
							<li><a href="https://discord.gg/mTbwMyQ" target="_blank" class="icon fa-comment"><span class="label">Discord</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; iOS Haven</li><li><a href="credits">Credits</a></li>
						</ul>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>