{% extends 'layouts.html' %}

{% block body %}
<title>{{ title }}</title>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="home">iOS Haven</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="home">Home</a></li>
											<li><a href="ipas">IPA Library</a></li>
											<li><a href="signed">Signed IPAs</a></li>
											<li><a href="betas">Beta Downloads</a></li>
											<li><a href="jailbreaks">Jailbreak Downloads</a></li>
											<li><a href="upload">Upload an IPA</a></li>
											<li><a href="https://discord.gg/mTbwMyQ" target="_blank">Join our Discord</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Jailbreak Downloads</h2>
							<p>Download iOS Jailbreaks.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<h3>Yalu for iOS 10-10.2</h3>
								<p>yalu beta7: <a href="http://clkmein.com/qBXikl" target="_blank">Download</a> • <a href="https://pastebin.com/raw/4pem2b48" target="_blank">MD5/SHA1/SHA-256</a> </p>
								<p>extra_recipe+yaluX beta4: <a href="http://clkmein.com/qBXiVY" target="_blank">Download</a> • <a href="https://pastebin.com/raw/WJLd7EL3" target="_blank">MD5/SHA1/SHA-256</a> </p>
							</div>
						</section>
					</article>

						<section class="wrapper style5">
							<div class="inner">

								<h3>JailbreakMe for iOS 9.3.3</h3>
								<p>JbMe mirror: <a href="http://ceesty.com/qB9OmV" target="_blank">View</a> </p>

							</div>
						</section>
					</article>

{% endblock %}
