{% extends 'layouts.html' %}

{% block body %}
<title>{{ title }}</title>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Jailbreak Downloads</h2>
							<p>Download iOS Jailbreaks.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<h3>Yalu for iOS 10-10.2</h3>
								<p>yalu beta7: <a href="yalu" target="_blank">Download</a></p>
								<p>extra_recipe+yaluX beta4: <a href="yalu" target="_blank">Download</a></p>
							</div>
						</section>
					</article>

						<section class="wrapper style5">
							<div class="inner">

								<h3>JailbreakMe for iOS 9.3.3</h3>
								<p>JbMe mirror: <a href="http://gestyy.com/q2QT4w" target="_blank">View</a> </p>

							</div>
						</section>
					</article>

{% endblock %}
