<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/css/whateveryouwant.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104493532-1', 'auto');
  ga('send', 'pageview');
  </script>

</head>


<body>
  <!-- CHANGE COLOR AND TEXT COLOR -->
<style>


</style>
  <!-- END STYLE -->
{% include 'includes/_navbar.html' %}
  <!-- {-% include 'includes/_messages.html' %} -->
{% block body %} {% endblock %}
<footer id="footer">
  <ul class="icons">
    <li><a href="https://twitter.com/iOSHaven_co" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://reddit.com/u/ZaneDevs" target="_blank" class="icon fa-reddit-alien"><span class="label">Reddit</span></a></li>
    <li><a href="https://paypal.me/emoticons" target="_blank" class="icon fa-paypal"><span class="label">PayPal</span></a></li>
    <li><a href="mailto:ioshavenco@gmail.com" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a></li>
    <li><a href="https://discord.gg/mTbwMyQ" target="_blank" class="icon fa-comment"><span class="label">Discord</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; iOS Haven</li><li><a href="/credits">Credits</a>  <li><a href="/help">Help</a></li>
  </ul>
</footer>





<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

<script src="/js/js.js"</script>
<!-- <script src="//cdn.ckeditor.com/4.7.1/basic/ckeditor.js"></script>
<script type="text/javascript">
CKEDITOR.replace('editor')
</script> -->
</body>

</html>
