<!DOCTYPE html>


{% include 'includes/header.html' %}

<body>
  <!-- CHANGE COLOR AND TEXT COLOR -->
  <style>
    a,
    a:hover a img {
      text-decoration: none;
      border: 0;
    }

    .row.justify.color {
      margin-left: 5px;
      background-color: #eee;
    }

    body {
      background-color: #eee;
    }

    .cyrus {
      margin-top: 15px;
      height: 50px;
    }
  </style>
  <!-- END STYLE -->

  {% include 'includes/_navbar.html' %}
  <!-- {-% include 'includes/_messages.html' %} -->
  <div id="app">
    {% block body %}{% endblock %}
    <contact></contact>
  </div>

  {% include 'includes/footer.html' %}



</body>

</html>
