{% extends 'layouts.html' %}



{% block body %}
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Signed IPAs</h2>
							<p>Download signed apps and tweaks.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="tweaks">
							<center><b><a href="https://zanedevs.sarahah.com/" target="_blank">Click here to request a signed ipa or report one as not working.</a></b></center> </br>
								<section>
									<h4>Tweaks</h4>
									<ul class="icons">
							<li><a class="icon fa-instagram"></a></li>Instagram++ | v10.30 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/instagram.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-instagram"></a></li>Instagram Rocket | v10.28 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/insrocket.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-snapchat-ghost"></a></li>Snapchat++ | v10.13.2 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/sc++.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-snapchat-ghost"></a></li>Phantom for Snapchat | v10.14 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/scp/scp10.14.0.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-snapchat-ghost"></a></li>Snapchat SCOthman | v10.14 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/scothman.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-twitter"></a></li>Twitter++ | v6.51 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/vip.appvalley.twpp.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-youtube-play"></a></li>YouTube++ | v12.21.7 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/vip.appvalley.ytpp.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-youtube-play"></a></li>Cercube 4 | v4.0 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/cercube4.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-youtube-play"></a></li>YouTube Music++ | v1.88.2 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/com.google.ios.youtubemusic.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-facebook"></a></li>Facebook++ | v82.0 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/vip.appvalley.fbpp.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-whatsapp"></a></li>WhatsApp++ | v2.17.31 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/vip.appvalley.wapp.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-twitch"></a></li>Twitch++ | v5.0.2 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/twitch.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-spotify"></a></li>Spotify++ | v8.4.11 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/spotify.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-soundcloud"></a></li>SoundCloud++ | v5.10 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/com.soundcloud.TouchApp.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-music"></a></li>Deezer++ | v6.22 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/dezzer.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-music"></a></li>Napster++ | v5.1 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/napster.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-music"></a></li>Pandora++ | v8.6 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/pandora.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-play-circle"></a></li>Crunchyroll++ | v3.0.8 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/com.crunchyroll.iphone.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-play-circle"></a></li>Movie Box++ | v3.7.1 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/moviebox.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-mobile"></a></li>NBA++ | v7.0512 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/nba.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-mobile"></a></li>Pokemon Go Hack | v1.39.1 </br> <a  href="http://destyy.com/q13Jsf" target="_blank" class="button button-fill color-blue">Install</a></br></br>

                                             		<li><a class="icon fa-mobile"></a></li>UFC++ | v3.2 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/com.kakaswr22.ufc.plist" target="_blank" class="button button-fill color-blue">Install</a></br></br>

						</ul>
							</div>
						</section>
						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="entertainment">
								<section>
									<h4>Entertainment</h4>
									<ul class="icons">
							<li><a class="icon fa-play-circle"></a></li>Bobby Movie | v3.1.5 </br> <a  href="http://destyy.com/q12FzJ" target="_blank" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-play-circle"></a></li>Cartoon HD | v2 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/cartoon.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-play-circle"></a></li>Channels | v1.3 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/com.channelsapp.channels.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-play-circle"></a></li>Live Wire | v1.5 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/livewire.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-play-circle"></a></li>Popcorn Time | v3.1.2 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/com.popcorntimetv.popcorntime.ios.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-play-circle"></a></li>ToonsNow | v1.1.2 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/io.toonsnow.ios.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-tv"></a></li>AeroTV | v1.0 b15 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/com.AeroTVTeam.AeroTViOS.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-music"></a></li>hiMusic | v1 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/himusic.plist" class="button button-fill color-blue">Install</a></br></br>

						</ul>
							</div>
								</div>
						</section>

					<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="recorders">

								<section>
									<h4>Screen Recorders</h4>
									<ul class="icons">
							<li><a class="icon fa-video-camera"></a></li>EveryCord | v1.1.5 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/everycord.plist" class="button button-fill color-blue">Install</a></br></br>

						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="jailbreaks">

								<section>
									<h4>Jailbreaks</h4>
									<ul class="icons">
							<li><a class="icon fa-unlock-alt"></a></li>yalu102 | beta7 </br> <a  href="itms-services://?action=download-manifest&url=https://ir4q.store/App/yaluu.plist" class="button button-fill color-blue">Install</a></br></br>

						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="emulators">

								<section>
									<h4>Emulators</h4>
									<ul class="icons">
							<li><a class="icon fa-gamepad"></a></li>GBA4iOS | v2.1 </br> <a  href="http://destyy.com/q13Mkh" target="_blank" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-gamepad"></a></li>Happy Chick | v1.5.4 </br> <a  href="http://destyy.com/q131rL" target="_blank" class="button button-fill color-blue">Install</a></br></br>

						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="games">

								<section>
									<h4>Games</h4>
									<ul class="icons">
							<li><a class="icon fa-mobile"></a></li>Last Day On Earth Hack | v1.5.3 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/zombie.survival.craft.z.plist" class="button button-fill color-blue">Install</a></br></br>

						</ul>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">
								<div class="app-section" id="misc">

								<section>
									<h4>Miscellaneous</h4>
									<ul class="icons">
							<li><a class="icon fa-moon-o"></a></li>GoodNight | v1.1 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/goodnight.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-gear"></a></li>iCleaner | v2.1 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/icleaner.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-gear"></a></li>Kodi Jarvis | v16.1 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/kodi16.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-gear"></a></li>Kodi Krypton | v1.0 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/kodi17.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-gear"></a></li>Kodi Legacy | v15.2.1 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/kodi15.plist" class="button button-fill color-blue">Install</a></br></br>

							<li><a class="icon fa-gear"></a></li>xCleaner | v1.0.2 </br> <a  href="itms-services://?action=download-manifest&url=https://cdn.appvalley.vip/ipa/xcleaner.plist" class="button button-fill color-blue">Install</a></br></br>

						</ul>
							</div>
						</section>

{% endblock %}
