{% extends 'layouts.html' %}

{% block body %}
<title>{{ title }}</title>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Upload an IPA</h2>
							<p>Upload your own ipa to iOS Haven.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<h3>Welcome, developers!</h3>
								<p>To all of the developers out there that have awesome new tweaks and apps, we want your work on iOS Haven! All you have to do is upload your ipa file(s) and we will put them up for download. This is a great way to showcase your new projects and generate traffic for yourself. You will be given credit for every ipa you upload. </p>
							</div>
						</section>
					</article>

						<section class="wrapper style5">
							<div class="inner">

								<h3>Upload your IPAs</h3>
								<p>1. Upload your ipas to <a href="https://mega.nz" target="_blank">Mega</a>. Create a download link and DM it to us on <a href="https://twitter.com/iOSHaven_co" target="_blank">twitter</a>. We will add your ipa(s) to <a href="http://ioshaven.co/ipas" target="_blank">our ipa library</a>
 within 24 hours. If you have any questions or concerns, DM us on twitter.</p>

							</div>
						</section>
					</article>
{% endblock %}
